<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
		"-//mybatis.org//DTD Config 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- settings 태그 : mybatis 구동 시 선언할 설정들을 작성한다. -->
	<!-- 
	실제 데이터가 널인데 그게 그대로 들어가서 에러가 나는 경우가 있는데,
	널이라면 DB에서 널로 처리하라고 명령하는 것이다.
	Null 값이 발생할 경우 빈칸이 아닌 null로 인식하라
	-->
	<settings>
        <!-- NULL값 처리-->
		<setting name="jdbcTypeForNull" value="NULL"></setting>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	</settings>
	<!--  
	typeAliases 태그 : mybatis에서 사용할 자료형의 별칭을 선언한다.
	type에는 패키지 명까지 전부 기술해주어야 한다.
	-->
	<typeAliases>
   <typeAlias type="com.kh.student.model.vo.Student" alias="student"/>
   </typeAliases>
	
<!-- environments 태그 : mybatis 에서 연동할 Database 정보를 등록한다. -->
	<environments default="development">
		<environment id="development">
        <!-- 트랜잭션 관리자를 설정, JDBC를 대체하는 의미에서 type을 JDBC로 지정한다. -->
			<transactionManager type="JDBC"/>
            <!-- 데이터베이스 세부 설정 -->
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="mybatis"/>
				<property name="password" value="mybatis"/>
			</dataSource>
		</environment>
	</environments>
    <!-- 
    mappers 태그 : 클래스패스의 상대경로의 리소스 사용 
    이제 우리는 매핑된 SQL 구문을 정의할 시간이다. 
    하지만 먼저 설정을 어디에 둘지 결정해야 한다. 
    자바는 자동으로 리소스를 찾기 위한 좋은 방법을 제공하지 않는다. 
    그래서 가장 좋은 건 어디서 찾으라고 지정하는 것이다. 
    클래스패스에 상대적으로 리소스를 지정할 수도 있고 url 을 통해서 지정할 수 도 있다.
    -->
	<mappers>
        <!-- SQL을 선언해 둔 XML이나 인터페이스 형태의 Mapper위치를 지정한다. -->
		<mapper resource = "/mappers/student/student-mapper.xml" />
		<mapper resource="/mappers/emp/emp-mapper.xml" />
	</mappers>
</configuration>
