<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- mapper파일은 query를 담고 있다. -->
<mapper namespace="student">
<!-- 
    typeAliases를 설정하지 않으면 parameterType에 풀패키지명을 적어야 한다.   
    <insert id="insertStudent1" parameterType="com.kh.student.vo.Student"> 
--> 
<!-- 
    구문의 이름 : insertStudent1, 
    student타입의 파라미터를 받는다.
    파라미터에 대한 표기법은 #{파라미터별칭}으로, 
    Mybatis에게 PreparedStatement를 만들도록 지시하는데, 
    JDBC에서는 PreparedStatement 내 '?'와 그 쓰임이 동일하다.
 -->
	<insert id="insertStudent1" parameterType="student">
		<!-- 필드명 #{} -->
		<!-- vo에서 사용하면 필드명에서 찾아온다. -->
		insert into student values(seq_student_no.nextval, #{studentName},
														   #{studentTel}, 
														   #{studentEmail}, 
														   #{studentAddr}, 
														   default)
	</insert>
	<!-- Map에서 사용하면 키값에서 찾아온다. -->
	<insert id="insertStudent2" parameterType="map">
		insert into student values(seq_student_no.nextval, #{studentName},
														   #{studentTel} ,
														   #{studentEmail}, 
														   #{studentAddr}, 
														   default)
	</insert>
</mapper>
